<h2 id="catalog" class="text-center">Our Catalogue</h2>

<div class="ag-format-container">
  <div class="furnico_box">

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Luxury Sofa
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Premium Chair
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Dining Table Set
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Almirah
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Centre Tables
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Dining Sets Premium
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg">
        </div>
        <div class="furnico-item_title">
          Cabinets
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Console Tables
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Supreme Product Range
        </div>
      </a>
    </div>

    <div class="furnico_item">
      <a href="#" class="furnico-item_link">
        <div class="furnico-item_bg"></div>

        <div class="furnico-item_title">
          Triveni Product Range
        </div>
      </a>
    </div>

  </div>
</div>