  .container-fluid {
    width: 100%;
    padding: 0;
  }
  
  .landing-img {
    width: 100%;
    height: auto;
    max-width: 100vw;  /* Ensure it doesn't exceed the viewport width */
  }
  
  /* Responsive design for mobile */
  @media (max-width: 767px) {
    .landing-img {
      width: 100%;
      height: auto;   /* Maintain aspect ratio */
    }
  }